@tailwind base;
@tailwind components;
@tailwind utilities;

/* BODY */
body {
  font-family: system-ui;
  @apply dark:bg-black;
}

/* HEADER */
.header-sm {
  /* shared styles */
  @apply flex justify-between text-2xl font-bold text-center p-4 shadow-sm tracking-wide;
  /* dark mode */
  @apply dark:shadow-md dark:text-white dark:shadow-[#222];
}

/* MAIN */
.main-sm {
  @apply flex flex-col pb-16;
  /* dark mode */
  @apply dark:text-white;
}

/* SQUARE */
.squareContainer-sm {
  @apply py-16;
}

.square-sm {
  @apply h-[250px] w-[250px] m-auto rounded-lg shadow-2xl;
}

/* FILTERS */
.filtersRangeContainer-sm {
  @apply flex flex-col w-2/3 m-auto pt-4 gap-2 text-lg pb-16;
}

.filtersColorContainer-sm {
  @apply grid grid-cols-2 text-base place-items-center gap-y-4;
}

.filterColor-sm {
  @apply flex flex-col items-center gap-1;
}

.filterInsetContainer-sm {
  @apply flex flex-col items-center gap-1;
}

.filterInset-sm {
  @apply w-[25px] h-[25px] appearance-none border-2 border-black rounded-md;
  /* dark mode */
  @apply dark:border-white;
}


/* TITLES (CSS/TAILWINDCSS) */
.titles-sm{
  @apply w-fit m-auto font-bold;
}

/*RESULT CODE CONTAINER */
.resultCodeContainer-sm {
  @apply bg-[#e8e8e8] w-[89%] m-auto text-sm p-3 rounded-md;
  /* dark mode */
  @apply dark:bg-[#222]
}

/* FOOTER */ 
.footer-sm {
  @apply flex justify-between items-center;
  /* dark mode */
  @apply dark:text-white;
}

.footerSVGs-sm {
  @apply flex h-full gap-2;
}

.footerBorder {
    background: 
        linear-gradient(#fff, #fff) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat,
        linear-gradient(89deg, transparent 0%, #000 50%, transparent 100%);
    border-radius: 0px;
    padding: 20px;
    box-sizing: content-box;
}

.dark .footerBorder {
  background: 
      linear-gradient(#000, #000) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat,
      linear-gradient(89deg, transparent 0%, #fff 50%, transparent 100%);
  border-radius: 0px;
  padding: 20px;
  box-sizing: content-box;
}

/* INPUT STYLES */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: black;
    height: 1px;
  }

  .dark input[type="range"]::-webkit-slider-runnable-track {
    background-color: white;
    height: 1px;
  }
  
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */

  border: 1px solid;
  border-radius: 100%;

  background-color: white;
  height: 1rem;
  width: 1rem;
}
.dark input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */

  border: 1px solid;
  border-radius: 100%;

  background-color: black;
  height: 1rem;
  width: 1rem;
}

input[type="color"] {
  border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: black 1px solid;
  border-radius: 5px;
}
.dark input[type="color"]::-webkit-color-swatch {
  border: white 2px solid;
  border-radius: 5px;
}